<?xml version="1.0" encoding="utf-8"?>
<!--  Copyright to Mutn -->
<odoo>
        <menuitem id="analysis_invoice_partners" name="تقارير الشركاء" action="employeesinfo.action_account_invoice_report_partner_all_supp" parent="base.menu_board_root" groups="parentid.director" sequence="6"/>
    
        <menuitem id="analysis_litigation" name="تقارير القضايا" action="litigation.litigation_report_action" parent="base.menu_board_root" sequence="7"/>

        <menuitem id="analysis_consulting" name="تقارير الاستشارات" action="litigation.consulting_report_action" parent="base.menu_board_root" sequence="8"/>

        <menuitem id="analysis_contractconsulting" name="تقارير العقود" action="litigation.contractconsulting_report_action" parent="base.menu_board_root" sequence="9"/>
</odoo>
